        <!-- Call to action-->
        <section class="page-section text-white">
            <div class="container text-center">
                <h2 class="mb-4">Enjoy the splendor of the sea</h2>
                <%= link_to 'Sea Discovery', homes_path,class:"btn btn-light btn-xl" %>
            </div>
        </section>
        <!-- Contact-->