<div id="map"></div>

<style>
#map {
  height: 600px;
  width: 1600px;
}
</style>

<script>
// let 再定義不可、再代入可能
let map
//initMapという関数名で処理かいし
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 33.60639, lng:130.41806},
    zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat: 33.60639, lng:130.41806},
    map: map
  });
}
let geocoder

  //検索フォームのボタンが押された時に実行される
function codeAddress(){
  //検索フォームの入力内容を取得
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    //該当する検索結果がヒットした時に、地図の中心を検索結果の緯度経度に更新する
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      //検索結果が何もなかった場合に表示
      alert('該当する結果がありませんでした：' + status);
    }
  });   
}
</script>
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyDEYQRJure6WyIv-8NWW5-d8VcNMZ5kKik&callback=initMap" async defer></script>

