<div class='select-reason-contents'>
    <h2 class='title'>
      旅行に出掛けたら各地の海が確認できる!
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "animal-1868046_1920.jpg", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>海</span>
          好きが集まる
        </h3>
        <p class='reason-list-description'>
          地元のおすすめスポットをみんなに拡散しよう！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "man-5462849_1920.jpg", class:"list-picts" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>マリンスポーツ</span>
          が楽しめる
        </h3>
        <p class='reason-list-description'>
          その海にしかないレジャーを楽しもう！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "japan-989881_1920.jpg", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>周辺情報</span>
          がわかる!
        </h3>
        <p class='reason-list-description'>
          駐車場やシャワー室の情報がわかる!
        </p>
      </li>
    </ul>
  </div>