/* 商品の概要 */

.item-show {
  background-color: #b98787;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-box {
  background: url(bg-pattern.png),linear-gradient(to left,#317c99,#84f1c4);
  width: 70vw;
  min-width: 1600px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;

}

.item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: #ffb340;
}

.item-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.item-price-box {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-price-box>.item-explnation {
  font-size: 25px;
  font-weight: bold;
}


.item-price-box>.item-postage {
  font-size: 25px;
  padding-top: 20px;
}

.dis{
  display: flex;
}
.item-red-btn {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 2vw;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 0.0625em;
}

.or-text {
  font-size: 20px;
}

.item-destroy {
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  color: white;
  margin: 20px 0px;
  padding: 2vh 2vw;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 0.0625em;
}

.item-explain-box {
  font-size: 25px;
  margin: 40px 0px;
}

.detail-table {
  margin-bottom: 30px;
  width: 60%;
}

.detail-item {
  width: 10%;
 
  border: 2px solid hsl(0, 0%, 0%);
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 50%;
  padding: 20px;
  border: 2px solid  hsl(0, 0%, 0%);
  font-size: 20px;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.favorite-star-icon {
  margin-right: 5px;
}

.report-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;

  padding: 1vh 0;
  color: black;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-flag-icon {
  margin-right: 5px;
}


/* /商品の概要 */

.comment-box {
  width: 40vw;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}

.comment-warn {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
  text-align: left;
}

.comment-btn {
  line-height: 48px;
  background-color: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-bottom: 2vh;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  margin: 10px 5px 0 0;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50vw;

}

.change-item-btn {
  font-size: 30px;
  text-decoration: none;
  color: #3CCACE;
}

.another-item {
  display: block;
  margin: 30px 0px 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}
.item-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  background-image: url(drink-84533_1920.jpg);
  padding-bottom: 0%;
  
}



.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
  color: #ffb340;
  padding-bottom: 50px;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: none;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
  border-radius: .5rem!important;
  cursor: pointer;
  display: block!important;

}

.sold-out {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: crimson;
  transform: skewY(-10deg);
}

.sold-out>span {
  color: none;
  font-size: 45px;
  font: bold;
}


.item-info {
  background-color: none;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 4vh;
  color: #f1e31f;
}

.item-price {
  font-size: 2.5vh;
  display: flex;
  justify-content: space-between;
  color: #f1e31f;
}


.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}